
<div class="jumbotron" id="log_in_jubotron">
  <h1 id="title">Log In</h1>
  <form>
    <div class="warning disable" id="register_warning">
      Your are not registered.Please Sign Up
    </div>
    <div class="warning disable" id="field_warning">
      Please insert all fields!
    </div>
    <div class="form-group">
        <label for="input_name">Name</label>
        <input type="text" class="form-control" id="input_name">
    </div>
    <div class="form-group">
      <label for="input_pass">Password</label>
      <input type="text" class="form-control" id="input_pass">
    </div>

    <a id="log_in" class="btn log_in_btn" name="button">Log In</a>
    <a id="register" class="btn log_in_btn" name="button">Sign Up</a>
  </form>
</div>
